<table class="w3-table w3-striped w3-table-all">
  <tr>
    <th class="ticket-title">Title</th>
    <th>Status</th>
    <th>Creator</th>
    <th>Assignee</th>
    <th>Due Date</th>
  </tr>
  <% tickets.each do |t| %>
  <tr>
    <td class="ticket-title"><%= link_to t.title, ticket_path(t) %></td>
    <td><%= link_to t.status.name, status_path(t.status) %></td>
    <td><%= link_to t.creator.name, user_tickets_path(t.creator) %></td>
    <td><%= link_to t.assignee.name, user_tickets_path(t.assignee) %></td>
    <td><%= t.due_date %></td>
  </tr>
  <% end %>
</table>
