<h1><%= @ticket.title %></h1>
<% if policy(@ticket).update? %>
  <p><%= link_to "Edit ticket", edit_ticket_path(@ticket) %>  <%= link_to "Delete ticket", ticket_path(@ticket), :method => "delete" %></p>
<% end %>

<div class="ticket-status">
  Status: <%= @ticket.status.name %><br>
</div>


<div class="container clearfix">
  <section class="ticket-description">
    <%= simple_format(@ticket.description) %>
  </section>

  <section class="ticket-dates-and-people">
    Created by: <%= @ticket.creator.name %><br>
    Assigned to: <%= @ticket.assignee.name %><br>
    Due date: <%= @ticket.due_date %><br>
    Created on: <%= @ticket.created_at %><br>
    Updated on: <%= @ticket.updated_at %><br>
  </section>

  <section class="ticket-comment-details clearfix">
    <% @comments.each do |c| %>
      <div class="comment-reply">
        <div class="comment">
          <%= c.user.name %>: <%= c.content %>
        </div>

        <div class="replies">
          <% c.replies.each do |r| %>
          <div class="reply">
            <%= r.user.name %>: <%= r.content %>
          </div>
          <% end %>
        </div>

        <div class="new-reply">
          <%= form_for @reply do |f| %>
            <%= f.hidden_field :comment_id, :value => c.id %>
            <%= f.text_area :content %><br>
            <%= f.submit %>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="new-comment">
      <%= form_for @comment do |f| %>
        <%= f.hidden_field :ticket_id, :value => @ticket.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.text_area :content %><br>
        <%= f.submit %>
      <% end %>
    </div>

  </section>


</div>
