<h1><%= @ticket.title %></h1>
<div class="ticket-status">
  Status: <%= @ticket.status.name %><br>
</div>

<div class="ticket-description w3-twothird">
  <%= simple_format(@ticket.description) %><br><br>
</div>
<div class="w3-third">
  <div class="ticket-people">
    Created by: <%= @ticket.creator.name %><br>
    Assigned to: <%= @ticket.assignee.name %><br>
  </div>
  <div class="ticket-dates">
    Due date: <%= @ticket.due_date %><br>
    Created on: <%= @ticket.created_at %><br>
    Updated on: <%= @ticket.updated_at %><br>
  </div>
</div>

<% @comments.each do |c| %>
  <div class="comment-reply">
    <div class="comment">
      <p>
        <%= c.user.name %>: <%= c.content %>
      </p>
    </div>
    <div class="reply">
      <%= form_for @reply do |f| %>
        <%= f.hidden_field :comment_id, :value => c.id %>
        <%= f.text_area :content %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
<% end %>

<%= form_for @comment do |f| %>
  <%= f.hidden_field :ticket_id, :value => @ticket.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.text_area :content %><br>
  <%= f.submit %>
<% end %>
