<!DOCTYPE html>
<html>
  <head>
    <title>Apmt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
    $(document).on('turbolinks:load', function(){
      $("div.comment").click(function(){
        $(this).parent().find(".new-reply").toggle("fast");
      });
    });
    </script>
  </head>

  <body>
    <header>
      <%= render partial: 'layouts/navbar' %>
    </header>
    <main>
      <%= flash[:alert] %>
      <%= yield %>
    </main>
  </body>
</html>
